/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-blue: #73aace;
  --color-yellow: #ffffcc;
  --color-dark-white: #a0a0a0;
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-blod: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  margin: 16px 0;
  font-size: var(--font-large);
  font-weight: var(--weight-blod);
  color: var(--color-black);
}
h2 {
  margin: 8px 0;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

h3 {
  margin: 8px 0;
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
}

p {
  margin: 4px 0;
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #a9a9a9; */
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all 300ms ease-in-out;
}
#navbar.navbar--dark {
  background-color: var(--color-dark-white);
  z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar_menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-grey);
}

/* Home */
#home {
  background: url(imgs/visual.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid --color-white;
}

.home__title,
.home__description {
  color: var(--color-grey);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-blod);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-grey);
  border-radius: 4px;
  color: var(--color-grey);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 17px;
  font-size: 24px;
  color: white;
  display: none;
}

/* Section common */
section {
  padding: 50px;
  text-align: center;
  /* max-width: 1200px; */
  margin: auto;
}

.about__majors {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
}

.major__icon i {
  transition: all 300ms ease;
}
.major__icon:hover i {
  color: pink;
  transform: rotate(-30deg) scale(1.1);
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.about__jobs {
  display: flex;
}

.job {
  display: flex;
  align-items: center;
}
.job__logo {
  width: 50px;
  height: 50px;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-dark-grey);
}

.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: #cce5ff;
}

.section__container {
  margin: auto;
  max-width: 1200px;
}

.skillset {
  display: flex;
  background-color: var(--color-grey);
  color: var(--color-white);
  margin: 20px 0;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skillset__right {
  flex-basis: 40%;
}
.skillset__title {
  color: white;
}
.skill {
  margin-bottom: 30px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  width: 100%;
  height: 3px;
  background-color: orange;
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 40px;
}
.category_btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category_btn.active,
.category_btn:hover {
  background-color: var(--color-blue);
  color: white;
}

.category__count {
  background-color: var(--color-grey);
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 600ms ease;
}

.category_btn.active .category__count,
.category_btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  background-color: var(--color-dark-white);
  display: flex;
  justify-content: center;
}

.project.invisible {
  display: none;
}

.project:hover .project_description {
  opacity: 0.8;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 300ms ease-in;
}

.project_description h3 {
  color: white;
}
.project_description h3:after {
  content: "";
  width: 25px;
  height: 2px;
  margin-left: -12px;
  left: 50%;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Contact */
#contact {
  background-color: #a9a9a9;
  padding: 4px 0;
}

.contact__title,
.contact__rights,
.contact__email {
  color: white;
}

/* Scroll */
.arrow_up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  border-radius: 50%;
  display: none;
}

.arrow_up.visible {
  display: block;
}

/* For below 768px screen width  */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-grey);
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar_menu {
    flex-direction: column;
    /* display: none; */
  }

  .navbar__menu.open {
    display: block;
  }

  .about__majors {
    flex-direction: column;
  }
  .magor {
    margin-bottom: 38px;
  }
  .about__jobs {
    flex-direction: column;
  }
  .job {
    margin-bottom: 38px;
  }
  .project {
    flex-grow: 1; /* 알아서화면 하나에 맞게 채워줌 */
  }
  .category_btn {
    margin-bottom: 15px;
  }
}
